aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
annotated-types==0.7.0
anthropic==0.57.1
anyio==4.9.0
appnope==0.1.4
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
babel==2.17.0
backrefs==5.9
beautifulsoup4==4.13.4
black==25.1.0
bleach==6.2.0
boto3==1.39.3
botocore==1.39.3
cachecontrol==0.14.3
cachetools==6.1.0
cairocffi==1.7.1
cairosvg==2.8.2
cerebras-cloud-sdk==1.35.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cohere==5.15.0
colorama==0.4.6
comm==0.2.2
courlan==1.3.2
coverage==7.9.2
csscompressor==0.9.5
cssselect2==0.8.0
datasets==3.6.0
dateparser==1.2.2
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
docstring-parser==0.16
eval-type-backport==0.2.2
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.116.0
fastavro==1.11.1
fastjsonschema==2.21.1
filelock==3.18.0
fireworks-ai==0.17.16
frozenlist==1.7.0
fsspec==2025.5.1
ghp-import==2.1.0
gitdb==4.0.12
gitpython==3.1.44
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-api-python-client==2.175.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.101.0
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-genai==1.24.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
graphviz==0.21
griffe==1.7.3
groq==0.29.0
grpc-google-iam-v1==0.14.2
grpcio==1.73.1
grpcio-status==1.73.1
h11==0.16.0
htmldate==1.9.3
htmlmin2==0.1.13
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
httpx-ws==0.7.2
huggingface-hub==0.33.2
idna==3.10
importlib-metadata==8.7.0
iniconfig==2.1.0
-e .
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.2
jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
jsmin==3.0.1
jsonpath-python==1.0.6
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-client==8.6.3
jupyter-core==5.8.1
jupyterlab-pygments==0.3.0
jupytext==1.17.2
justext==3.0.2
litellm==1.74.0.post1
lxml==6.0.0
lxml-html-clean==0.4.2
markdown==3.8.2
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mergedeep==1.3.4
mistralai==1.9.1
mistune==3.1.3
mkdocs==1.6.1
mkdocs-autorefs==1.4.2
mkdocs-get-deps==0.2.0
mkdocs-jupyter==0.25.1
mkdocs-material==9.6.15
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
mkdocs-redirects==1.2.2
mkdocs-rss-plugin==1.17.3
mkdocstrings==0.29.1
mkdocstrings-python==1.16.12
msgpack==1.1.1
multidict==6.6.3
multiprocess==0.70.18
mypy-extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.0.2
openai==1.93.1
packaging==25.0
paginate==0.5.7
pandas==2.3.1
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
phonenumbers==9.0.8
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
prompt-toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-core==2.35.2
pydantic-extra-types==2.10.5
pydub==0.25.1
pygments==2.19.2
pymdown-extensions==10.16
pyparsing==3.2.3
pyright==1.1.402
pytest==8.4.1
pytest-asyncio==1.0.0
pytest-examples==0.0.18
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pyyaml==6.0.2
pyyaml-env-tag==1.1
pyzmq==27.0.0
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
ruff==0.12.2
s3transfer==0.13.0
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
sqlalchemy==2.0.41
sqlmodel==0.0.24
stack-data==0.6.3
starlette==0.47.1
tabulate==0.9.0
tenacity==9.1.2
tiktoken==0.9.0
tinycss2==1.4.0
tld==0.13.1
tokenizers==0.21.2
tomli==2.2.1
tornado==6.5.1
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
typer==0.16.0
types-requests==2.32.4.20250611
typing-extensions==4.14.1
typing-inspect==0.9.0
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
writer-sdk==2.2.0
wsproto==1.2.0
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
