aiohappyeyeballs==2.4.8 ; python_version >= "3.9" and python_version < "4.0"
aiohttp==3.11.13 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.9" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
anyio==4.8.0 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.9" and python_version < "3.11"
attrs==25.1.0 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
distro==1.9.0 ; python_version >= "3.9" and python_version < "4.0"
docstring-parser==0.16 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
frozenlist==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
httpcore==1.0.7 ; python_version >= "3.9" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4.0"
jiter==0.8.2 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
multidict==6.1.0 ; python_version >= "3.9" and python_version < "4.0"
openai==1.65.3 ; python_version >= "3.9" and python_version < "4.0"
propcache==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
pydantic-core==2.27.2 ; python_version >= "3.9" and python_version < "4.0"
pydantic==2.10.6 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.9" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
tenacity==9.0.0 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "4.0"
typer==0.15.2 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
yarl==1.18.3 ; python_version >= "3.9" and python_version < "4.0"
