name: Test Docs
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz libcairo2-dev xdg-utils

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install the project
        run: uv sync --all-extras
      - name: Run tests
        run: uv run pytest tests/llm/test_openai/docs
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
